.App{
  background-color: hsl(0, 0%, 98%);
  display: flex;
  flex-direction: column;
  gap: 5px;
  position: relative;
}
.AppDark{
  background-color: hsl(207, 26%, 17%);
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.countries-container{
  min-width: 80%;
  gap: 15px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, 270px);
  justify-items: center;
  /* row-gap: 30px; */
  /* margin-bottom: 30px; */
  padding-bottom: 30px;
  min-height: calc(80vh - 60px);
  flex-wrap: wrap;
}
header{
  display: flex;
  height: 10vh;
  background-color: hsl(0, 0%, 100%);
  margin-bottom: 20px;
  justify-content: space-between;
  align-items: center;
  padding: 15px 90px;
  position:sticky;
  top: 0;
  z-index: 10;
}
h1{
  font-size: 25px;
}
button{
  background-color: transparent;
  border: none;
  font-weight: bold;
  cursor: pointer;
  height: 30px;
  width: 100px;
  display: flex;
  align-items:stretch;
  justify-content: center;
  gap: 5px;
  padding-top: 10px;
}
.filters-container{
  height: 10vh;
  width: 80%;
  margin: auto;
  display: flex;
  margin-bottom: 30px;
  /* padding: 15px 90px; */
  justify-content: space-between;
}
.search{
  background-color: hsl(0, 0%, 100%);
  height: 40px;
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.2);
}
.search input{
  border: none;
  outline: none;
  font-size: 18px;
  margin-left: 15px;
  font-weight: 600;
}
.search input::placeholder{
 color: hsl(0, 0%, 52%);
}
.filter{
  background-color: hsl(0, 0%, 100%);
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px;
  border-radius: 5px;
  position: relative;
  width: 150px;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.2);
}
.filter p{
  font-weight: 600;
  margin-top: 5px;
}
.categories-arrow{
  cursor: pointer;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.categories-container{
  position: absolute;
  background-color: white;
  top: 50px;
  width: 150px;
  left: 0;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.2);
}
.categories-container :hover{
  font-weight: bold;
  cursor: pointer;
}
.none{
  display: none;
}
.headerDark{
  background-color: hsl(209, 23%, 22%);
}
.dark{
  color: hsl(0, 0%, 100%);
}
.card{
  display: flex;
  flex-direction: column;
  width: 270px;
  height: 350px;
  border-radius: 5px;
  overflow: hidden;
  background-color: hsl(0, 0%, 100%);
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.5);
  color: hsl(200, 15%, 8%);
}
.cardDark{
  display: flex;
  flex-direction: column;
  width: 270px;
  height: 350px;
  border-radius: 5px;
  overflow: hidden;
  background-color: hsl(209, 23%, 22%);
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.5);
  color: white;
}
.searchDark{
  background-color: hsl(209, 23%, 22%);
  color: white;
  height: 40px;
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.2);
}
.searchDark input{
  border: none;
  outline: none;
  font-size: 18px;
  margin-left: 15px;
  font-weight: 600;
  background-color: hsl(209, 23%, 22%);
  color: white;
}
.searchDark input::placeholder{
  color: white;
 }
.filterDark{
  background-color: hsl(209, 23%, 22%);
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px;
  border-radius: 5px;
  position: relative;
  width: 150px;
  color: white;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.2);
}
.filterDark p{
  font-weight: 600;
  margin-top: 5px;
}
.modalDark{
  background-color: hsl(209, 23%, 22%);
}
#categoriesDark{
  background-color: hsl(209, 23%, 22%);
}
@media (max-width: 610px){
  .countries-container{
    grid-template-columns: 1fr;
  }
  .filters-container{
    flex-direction: column;
    gap: 15px;
    margin-bottom: 65px;
  }
  .header{
    padding: 0 40px;
  }
  .header h1{
    font-size: 18px;
  }
  .headerDark{
    padding: 0 40px;
  }
  .headerDark h1{
    font-size: 18px;
  }
}
#seen{
  display: flex;
}
#hidden{
  display: none;
}